body{
     background-image: url("C:/Users/Tanush/Downloads/CSs.gif");
    
}
   
h1{
    padding-top: 50px;
    padding-left: 570px;
    color: yellow;
    
}
.intro{
    padding-left: 620px;
    font-size: large;
    color: red;
}
.profilecard{
    box-shadow: 0 10px 10px 0 grey;
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    
 
}
.fa-facebook{
    color: blue;
    
}
.p2{
    color:white
}
.p3{
    color:white
}
.fa-linkedin{
    color:yellow
}
.fa-github{
    color:red
}